.app {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-apart {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

input {
  padding: 10px;
  margin: 10px;
  border: 2px solid gray;
  border-radius: 6px;
}

button {
  padding: 10px;
  margin: 10px;
  border: 2px solid grey;
  border-radius: 6px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  background-color: gray;
  color: white;
}

.card {
  box-shadow: 2px 3px 2px 1px grey;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  width: 300px;
  border: solid 2px grey;
}